<h2>Modifier un évènement</h2>

<form class="form">
  <div>
    <label for="id">Id</label>
    <input id="id" type="number" [(ngModel)]="event.id" name="id">
  </div>
  <div>
    <label for="title">Description</label>
    <input id="title" type="text" [(ngModel)]="event.title" name="title">
  </div>
  <div>
    <label for="time">Heure</label>
    <input id="time" type="time" [(ngModel)]="event.time" name="time">
  </div>
  <div>
    <label for="type">Type d'évènement</label>
    <select id="type" type="text" [(ngModel)]="event.type" name="type" #type="ngModel">
      <option *ngFor="let type of eventType" [value]="type">{{type}}</option>
    </select>
  </div>
  <div>
    <button type="button" (click)="newEvent()">Confirmer</button>
  </div>
</form>
